.App {
  text-align: center;
  margin-top: 10px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1; /* to comming above all the messages */
  background: #e9e9eb;
  width: 90%;
  margin: 20px;
}

.app__formControl {
  display: flex !important; /* if you didnt do important the Material UI will overide it */
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

